<div class="text-center mt-5">
  <h1 class="display-4">Welcome to Your TODO App</h1>

  <% if logged_in? %>
    <p class="lead">You're already logged in, <%= current_user.first_name %>!</p>
    <%= link_to "View Your ToDos", todos_path, class: "btn btn-primary mt-3" %>
  <% else %>
    <p class="lead">Please login or sign up to get started.</p>
    <%= link_to "Login", login_path, class: "btn btn-primary me-2" %>
    <%= link_to "Sign Up", signup_path, class: "btn btn-outline-secondary" %>
  <% end %>
</div>
